
.ForgetpaswPage_container{
    display: grid;
    justify-content: center;
    
    margin-top:5vh;
  }
  .ForgetpaswPage_inner_container{
    display: grid;
    align-items: center;
    justify-content: center;
   
  }
  .ForgetpaswPage_title{
    color: rgb(34, 105, 34);
  }
  .ForgetpaswPage_input{
    border: none;
    outline: none;
    width: 95%;
    background-color: rgb(229, 231, 229);
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
    border-bottom: 1px solid  rgb(74, 221, 74)
  }
  .ForgetpaswPage_input_title{
    margin: 5px;
  }
  .ForgetpaswPage_button{
          margin:20px 0;
          width:100%;
          padding: 10px 15px;
          border: none;
          outline: none;
          cursor: pointer;
          background-color: #305a52;
          color: aliceblue;
          border-radius: 8px;
  }
  .ForgetpaswPage_instructions{
    color: #7aafa5;
  }
  .valid {
      color: green;
    }
    
   
    .invalid {
      color: red;
    }
    #ForgetpaswPage_error{
      color: red;
    }
  .ForgetpaswPage_icon{
    margin: 0 5px;
  }
  .ForgetpaswPage_goto_loginpage{
    margin-left: 10px;
  }