.Otp_Container{
    font-family: sans-serif;
    display: grid;
    justify-content: center;
  }
  .inner_Otp_Container{
         margin-top: 10em;
  }
  .otpInput {
    width: 20rem;
    height: 2rem;
    margin: 5px;
    text-align: center;
    font-size: 1.2em;
    border-radius: 5px;
  }
  .Otp_page_info{
    width:23rem;
  }
  .Otp_button{
    margin: 1.5rem 0.4rem;
     display: block;
    padding: 0.8rem 0.5rem;
    width: 20rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #0a856c;
    color: aliceblue;
    border-radius: 8px;
  }
  .Otppage_goto_loginpage{
        margin-left: 10px;
  }

  .Otp_Page_buttom{
    display: flex;
    justify-content: space-between;
  }