.signup_page_main{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,#02A388,#F9F9F9);
    min-height: 100vh;
}
.signup_page_inner{
    background-color: white;
    width: 35rem;
    padding: 10px 3.5rem;
    border-radius: 12px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.signuppage_title{
   display: flex;
   justify-content: center;
}
.signup_title{
    font-size: x-large;
    font-weight: bold;
}
.signup_label{
    display: block;
    font-size: medium;
    font-weight: 450;
    margin: 5px;
}
.signup_input{
    padding: 10px ;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    border:1px solid rgb(211, 209, 209);
    margin-bottom: 10px;
 
}

.signup_button{
    background-color: #008069;
    width: 100%;
    color: #f0f2f5;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    outline: none;
    border: 2px solid transparent;
    font-weight: 600;
}
.signup_button:hover{
    background-color: #0a5749;
    border: 2px solid black;
    cursor: pointer;
}
.gotosignin_button{
    margin-top: 0.5rem;
    font-size: 0.875rem;
    text-align: center;
    background-color: #00a884;
    font-weight: 500;
    border-radius: 0.5rem;
    border: 2px solid transparent;
    color: white;
    padding: 0.8rem;

}
.gotosignin_button:hover{
    border: 2px solid black;
    background-color:  #018165;
}